body {
    background: linear-gradient(to bottom, #4facfe, #061a1b);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    height: 100vh;           /* Ocupa toda la altura de la ventana */
    margin: 0;               /* Elimina márgenes por defecto */
    flex-direction: column; /* Para que los elementos se acomoden en columna */
}
label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}