.agenda-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap; /* Permite que los elementos bajen en pantallas pequeñas */
}

/* Galería */
.galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Para que las imágenes se acomoden solas */
  gap: 15px;
  justify-content: center;
}

.item {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.item:hover {
  transform: scale(1.05);
}

.cuadrado {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* Panel de información */
.info-panel {
  width: 300px;
  padding: 20px;
  border-left: 3px solid #aaa;
}

/* Título */
.info-panel h2 {
  margin-top: 0;
}


@media (max-width: 900px) {
  .agenda-container {
    flex-direction: column;
    align-items: center;
  }

  .info-panel {
    width: 90%;
    border-left: none;
    border-top: 3px solid #aaa;
    margin-top: 20px;
  }

  .cuadrado {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 600px) {
  .galeria {
    gap: 10px;
  }

  .cuadrado {
    width: 150px;
    height: 150px;
  }

  .info-panel {
    padding: 15px;
  }
}
